{% extends "header.html" %}
{% block content %}
  <div class="row">
      <div align="center" class="col-md-12">


				<h1 align="center" >ADD ITEM</h1>


				<form action="#" method = 'post'>


					<p>Name:</p>
						<input type ='text' size='30' name='name'>
						<br>
						<br>

					<p>description:</p>
							<input type ='text' size='30' name='description'>

						</br>
					</br>
				<a><button type="submit" value='Create' class="btn btn-primary" > Add Items </button> </a>
				</form>



      </div>

  </div>
{% endblock %}
