
{% extends "header.html" %}
{% block content %}
  <div class="row">
      <div align="center" class="col-md-12">


				<h1>Edit Item</h1>


				<form action="#" method = 'post'>


					<p>Name:</p>
						<input type ='text' size='30' name='name'>
						<br>
						<br>

					<p>description:</p>
							<input type ='text' size='30' name='description'>

						</br>
					</br>
				<button type="submit" value='Create' class="btn btn-primary" > Edit Item </button>
				</form>
			</br>
				<a href = '{{url_for('categoryItem', category_id = category.id )}}'><button type="submit" value='Create' class="btn btn-danger" > Cancel </button> </a>



      </div>

  </div>
{% endblock %}
