<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CATALOG- APP</title>

    <meta name="description" content="Project submission for Udacity">
    <meta name="author" content="Chirag Ramachandra">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
	<body>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

			<div class="navbar navbar-inverse">
  			<div class="container">
    			<div class="navbar-header">
      			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      			</button>
      			<a class="navbar-brand" href = "{{url_for('showCategory')}}">Catalog Application</a>
    			</div>
          <ul class="nav navbar-nav ">
    	      <li class="active" ><a href = "{{url_for('showCategory' )}}">HOME</a></li>
    	    </ul>
    <ul class="nav navbar-nav navbar-right">
			{%if 'username' not in session %}
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href = "{{url_for('showLogin' )}}">LOGIN</a></li>
	    </ul>
	{% else %}
	<ul class="nav navbar-nav navbar-right">
	  <li><a href = "{{url_for('disconnect' )}}">LOGOUT</a></li>
	</ul>
	{% endif %}
    </ul>
  </div>
</div>
</div>
{% block content %}
{% endblock %}
		</div>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	</body>
</html>
